/* PAGE HEADER */
$page-header-border-size: 1px !default;
$page-header-border-color: $color-tertiary--darker !default;

.page-header {
    margin-bottom: 30px;
    padding: 10px 0;
    background-color: $color-white;
    @include border-bottom($page-header-border-size, solid, $page-header-border-color);

    &__wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__logo {
        flex-shrink: 0;

        img {
            display: block;
        }
    }

    &__search {
        display: none;

        @media screen and (min-width: 800px) {
            display: block;
        }
    }
}