/* PAGE FOOTER */
.page-footer {
    padding: 30px 0;
    font-size: 12px;
    color: $color-tertiary--darkest;

    &__nav {

        a {
            margin-right: 10px;
            color: $color-tertiary--darkest;

            &:last-child {
                margin-right: 0;
            }
        }
    }
}
