$color-white: #ffffff;
$color-black: #000000;
$color-primary: #dd2a7c;
$color-secondary: #3095f6;
$color-tertiary: #fafafa;
$color-tertiary--dark: #efefef;
$color-tertiary--darker: #dbdbdb;
$color-tertiary--darkest: #969696;