//CHRISTMAS THEME

//Colors
$color-primary: #951F2B;
$color-tertiary: #F5F4D7;
$color-tertiary--darker: #535233;

//Borders
$page-header-border-size: 2px;
$page-header-border-color: $color-primary;

.page-header__logo {
    display: inline-flex;
}

.page-header__logo::after {
    content: url(../images/tree.png);
    zoom: 15%;
}